## Windows and OSX:
Thumbs.db
.DS_Store

## Eclipse:
.classpath
.project
.settings/
.metadata/

## IntelliJ:
.idea/
*.iml
*.ipr
*.iws

## Maven:
target/

## Gradle:
.gradle/
build/
gradle-app.setting

## Java:
*.class
*.jar
*.war
*.ear
